[Unit]
Description=Mock PiRacer D-Bus Service
After=dbus.service
Requires=dbus.service

[Service]
Type=simple
ExecStart=/usr/bin/mock-dbus-service
Restart=always
RestartSec=3
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/0/bus"

[Install]
WantedBy=multi-user.target
